In [205]:
import pandas as p
import json

#Load json file
with open('sales_data.json', 'r') as file:
    data = json.load(file)
df = p.json_normalize(data)
print(df)

    transaction_id customer_id  quantity                  date region  \
0             T001        C001         2  2023-01-15T10:30:00Z  North
1             T002        C002         5  2023-02-10T14:15:00Z  South
2             T003        None        -1            2023-03-05   East
3             T004        C003         3  2023-04-20T09:00:00Z   West
4             T005        C001        10            2023-05-12  North
..             ...         ...       ...                   ...    ...
97            T031        C004         3  2023-07-30T12:00:00Z   East
98            T032        C002         2  2023-08-10T09:00:00Z  North
99            T033        C001         5  2023-09-05T10:00:00Z  South
100           T034        C004         1  2023-10-08T15:00:00Z   West
101           T035        C005         6  2023-11-11T12:00:00Z  North

    product.id product.name product.category  product.price
0          P01       Laptop      Electronics         999.99
1          P02        Mouse      Accessories          19.99
2          P01       Laptop      Electronics         999.99
3          P03      Monitor      Electronics         299.50
4          P02        Mouse      Accessories          19.99
..         ...          ...              ...            ...
97         P01       Laptop      Electronics         999.99
98         P03      Monitor      Electronics         299.50
99         P02        Mouse      Accessories          19.99
100        P01       Laptop      Electronics         999.99
101        P03      Monitor      Electronics         299.50

[102 rows x 9 columns]

In [206]:
#Standardizing date to a consistent format
df['date'] = p.to_datetime(df['date'], format='mixed', errors='raise',utc=True)
df['date'] = df['date'].dt.date
print(df)

    transaction_id customer_id  quantity        date region product.id  \
0             T001        C001         2  2023-01-15  North        P01
1             T002        C002         5  2023-02-10  South        P02
2             T003        None        -1  2023-03-05   East        P01
3             T004        C003         3  2023-04-20   West        P03
4             T005        C001        10  2023-05-12  North        P02
..             ...         ...       ...         ...    ...        ...
97            T031        C004         3  2023-07-30   East        P01
98            T032        C002         2  2023-08-10  North        P03
99            T033        C001         5  2023-09-05  South        P02
100           T034        C004         1  2023-10-08   West        P01
101           T035        C005         6  2023-11-11  North        P03

    product.name product.category  product.price
0         Laptop      Electronics         999.99
1          Mouse      Accessories          19.99
2         Laptop      Electronics         999.99
3        Monitor      Electronics         299.50
4          Mouse      Accessories          19.99
..           ...              ...            ...
97        Laptop      Electronics         999.99
98       Monitor      Electronics         299.50
99         Mouse      Accessories          19.99
100       Laptop      Electronics         999.99
101      Monitor      Electronics         299.50

[102 rows x 9 columns]

In [207]:
#identifying the Null customer IDs
df[df['customer_id'].isnull()]

,transaction_id,customer_id,quantity,date,region,product.id,product.name,product.category,product.price
2,T003,None,-1,2023-03-05,East,P01,Laptop,Electronics,999.99
7,T003,None,-1,2023-03-05,East,P01,Laptop,Electronics,999.99
17,T013,None,4,2023-01-28,East,P03,Monitor,Electronics,299.50
27,T023,None,1,2023-11-22,West,P01,Laptop,Electronics,999.99
42,T003,None,-1,2023-03-05,East,P01,Laptop,Electronics,999.99
52,T013,None,4,2023-01-28,East,P03,Monitor,Electronics,299.50
62,T023,None,1,2023-11-22,West,P01,Laptop,Electronics,999.99
79,T013,None,4,2023-01-28,East,P03,Monitor,Electronics,299.50
89,T023,None,1,2023-11-22,West,P01,Laptop,Electronics,999.99

In [208]:
#df = df.dropna()
df['customer_id'] = df['customer_id'].fillna('Unknown')

# Handling missing customer_id
print("\nDataFrame after removing rows with missing values:")
print(df)

DataFrame after removing rows with missing values:
    transaction_id customer_id  quantity        date region product.id  \
0             T001        C001         2  2023-01-15  North        P01
1             T002        C002         5  2023-02-10  South        P02
2             T003     Unknown        -1  2023-03-05   East        P01
3             T004        C003         3  2023-04-20   West        P03
4             T005        C001        10  2023-05-12  North        P02
..             ...         ...       ...         ...    ...        ...
97            T031        C004         3  2023-07-30   East        P01
98            T032        C002         2  2023-08-10  North        P03
99            T033        C001         5  2023-09-05  South        P02
100           T034        C004         1  2023-10-08   West        P01
101           T035        C005         6  2023-11-11  North        P03

    product.name product.category  product.price
0         Laptop      Electronics         999.99
1          Mouse      Accessories          19.99
2         Laptop      Electronics         999.99
3        Monitor      Electronics         299.50
4          Mouse      Accessories          19.99
..           ...              ...            ...
97        Laptop      Electronics         999.99
98       Monitor      Electronics         299.50
99         Mouse      Accessories          19.99
100       Laptop      Electronics         999.99
101      Monitor      Electronics         299.50

[102 rows x 9 columns]

In [209]:
#Identifying the negative quantities
df[df['quantity'] < 0]

,transaction_id,customer_id,quantity,date,region,product.id,product.name,product.category,product.price
2,T003,Unknown,-1,2023-03-05,East,P01,Laptop,Electronics,999.99
7,T003,Unknown,-1,2023-03-05,East,P01,Laptop,Electronics,999.99
13,T009,C004,-3,2023-09-18,West,P01,Laptop,Electronics,999.99
30,T026,C003,-2,2023-02-05,West,P01,Laptop,Electronics,999.99
42,T003,Unknown,-1,2023-03-05,East,P01,Laptop,Electronics,999.99
48,T009,C004,-3,2023-09-18,West,P01,Laptop,Electronics,999.99
65,T026,C003,-2,2023-02-05,West,P01,Laptop,Electronics,999.99
75,T009,C004,-3,2023-09-18,West,P01,Laptop,Electronics,999.99
92,T026,C003,-2,2023-02-05,West,P01,Laptop,Electronics,999.99

In [210]:
#handling negative quantity values
#df = df[df['quantity'] >= 0]
df['quantity'] = df['quantity'].apply(lambda x: x if x > 0 else 0)
print(df)

    transaction_id customer_id  quantity        date region product.id  \
0             T001        C001         2  2023-01-15  North        P01
1             T002        C002         5  2023-02-10  South        P02
2             T003     Unknown         0  2023-03-05   East        P01
3             T004        C003         3  2023-04-20   West        P03
4             T005        C001        10  2023-05-12  North        P02
..             ...         ...       ...         ...    ...        ...
97            T031        C004         3  2023-07-30   East        P01
98            T032        C002         2  2023-08-10  North        P03
99            T033        C001         5  2023-09-05  South        P02
100           T034        C004         1  2023-10-08   West        P01
101           T035        C005         6  2023-11-11  North        P03

    product.name product.category  product.price
0         Laptop      Electronics         999.99
1          Mouse      Accessories          19.99
2         Laptop      Electronics         999.99
3        Monitor      Electronics         299.50
4          Mouse      Accessories          19.99
..           ...              ...            ...
97        Laptop      Electronics         999.99
98       Monitor      Electronics         299.50
99         Mouse      Accessories          19.99
100       Laptop      Electronics         999.99
101      Monitor      Electronics         299.50

[102 rows x 9 columns]

In [211]:
df['transaction_id']=df['transaction_id'].drop_duplicates()
print(df)

    transaction_id customer_id  quantity        date region product.id  \
0             T001        C001         2  2023-01-15  North        P01
1             T002        C002         5  2023-02-10  South        P02
2             T003     Unknown         0  2023-03-05   East        P01
3             T004        C003         3  2023-04-20   West        P03
4             T005        C001        10  2023-05-12  North        P02
..             ...         ...       ...         ...    ...        ...
97             NaN        C004         3  2023-07-30   East        P01
98             NaN        C002         2  2023-08-10  North        P03
99             NaN        C001         5  2023-09-05  South        P02
100            NaN        C004         1  2023-10-08   West        P01
101            NaN        C005         6  2023-11-11  North        P03

    product.name product.category  product.price
0         Laptop      Electronics         999.99
1          Mouse      Accessories          19.99
2         Laptop      Electronics         999.99
3        Monitor      Electronics         299.50
4          Mouse      Accessories          19.99
..           ...              ...            ...
97        Laptop      Electronics         999.99
98       Monitor      Electronics         299.50
99         Mouse      Accessories          19.99
100       Laptop      Electronics         999.99
101      Monitor      Electronics         299.50

[102 rows x 9 columns]

In [212]:
#identifying the Null customer IDs
df[df['transaction_id'].isnull()]

,transaction_id,customer_id,quantity,date,region,product.id,product.name,product.category,product.price
5,NaN,C001,2,2023-01-15,North,P01,Laptop,Electronics,999.99
6,NaN,C002,5,2023-02-10,South,P02,Mouse,Accessories,19.99
7,NaN,Unknown,0,2023-03-05,East,P01,Laptop,Electronics,999.99
8,NaN,C003,3,2023-04-20,West,P03,Monitor,Electronics,299.50
9,NaN,C001,10,2023-05-12,North,P02,Mouse,Accessories,19.99
...,...,...,...,...,...,...,...,...,...
97,NaN,C004,3,2023-07-30,East,P01,Laptop,Electronics,999.99
98,NaN,C002,2,2023-08-10,North,P03,Monitor,Electronics,299.50
99,NaN,C001,5,2023-09-05,South,P02,Mouse,Accessories,19.99
100,NaN,C004,1,2023-10-08,West,P01,Laptop,Electronics,999.99
101,NaN,C005,6,2023-11-11,North,P03,Monitor,Electronics,299.50

In [213]:
#Calculating total_value
df['total_value']=df['quantity']*df['product.price']
print(df)

    transaction_id customer_id  quantity        date region product.id  \
0             T001        C001         2  2023-01-15  North        P01
1             T002        C002         5  2023-02-10  South        P02
2             T003     Unknown         0  2023-03-05   East        P01
3             T004        C003         3  2023-04-20   West        P03
4             T005        C001        10  2023-05-12  North        P02
..             ...         ...       ...         ...    ...        ...
97             NaN        C004         3  2023-07-30   East        P01
98             NaN        C002         2  2023-08-10  North        P03
99             NaN        C001         5  2023-09-05  South        P02
100            NaN        C004         1  2023-10-08   West        P01
101            NaN        C005         6  2023-11-11  North        P03

    product.name product.category  product.price  total_value
0         Laptop      Electronics         999.99      1999.98
1          Mouse      Accessories          19.99        99.95
2         Laptop      Electronics         999.99         0.00
3        Monitor      Electronics         299.50       898.50
4          Mouse      Accessories          19.99       199.90
..           ...              ...            ...          ...
97        Laptop      Electronics         999.99      2999.97
98       Monitor      Electronics         299.50       599.00
99         Mouse      Accessories          19.99        99.95
100       Laptop      Electronics         999.99       999.99
101      Monitor      Electronics         299.50      1797.00

[102 rows x 10 columns]

In [214]:
df.columns = df.columns.str.replace('.', '_', regex=False)

In [215]:
print(df.dtypes)

transaction_id       object
customer_id          object
quantity              int64
date                 object
region               object
product_id           object
product_name         object
product_category     object
product_price       float64
total_value         float64
dtype: object

In [245]:
import sqlite3

In [246]:
db = sqlite3.connect('Sales_Data.db')

In [247]:
cursor = db.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Sales (
    transaction_id TEXT,
    customer_id TEXT,
    quantity INTEGER,
    date TEXT,
    region TEXT,
    product_id TEXT,
    product_name TEXT,
    product_category TEXT,
    product_price REAL,
    total_value REAL
);
''')

In [239]:
#db.commit()
cursor.close()

In [248]:
#from sqlalchemy import create_engine
#engine=create_engine('sqlite:///Sales_Data.db')
df.to_sql('Sales', db, if_exists='replace', index=False)

102

In [249]:
#db = sqlite3.connect('Sales_Data.db')
#cursor = db.cursor()

cursor.execute("INSERT INTO Sales (transaction_id, customer_id, quantity,date,region,product_id,product_name,product_category,product_price,total_value) VALUES (?,?,?,?,?,?,?,?,?,?)", 
               ('T036','C006',2,'2023-11-11','West','P03','Laptop','Electronics', 800.00, 1600.00))

cursor.execute("SELECT * FROM Sales")
rows = cursor.fetchall()
for row in rows:
    print(row)

db.commit()

('T001', 'C001', 2, '2023-01-15', 'North', 'P01', 'Laptop', 'Electronics', 999.99, 1999.98)
('T002', 'C002', 5, '2023-02-10', 'South', 'P02', 'Mouse', 'Accessories', 19.99, 99.94999999999999)
('T003', 'Unknown', 0, '2023-03-05', 'East', 'P01', 'Laptop', 'Electronics', 999.99, 0.0)
('T004', 'C003', 3, '2023-04-20', 'West', 'P03', 'Monitor', 'Electronics', 299.5, 898.5)
('T005', 'C001', 10, '2023-05-12', 'North', 'P02', 'Mouse', 'Accessories', 19.99, 199.89999999999998)
(None, 'C001', 2, '2023-01-15', 'North', 'P01', 'Laptop', 'Electronics', 999.99, 1999.98)
(None, 'C002', 5, '2023-02-10', 'South', 'P02', 'Mouse', 'Accessories', 19.99, 99.94999999999999)
(None, 'Unknown', 0, '2023-03-05', 'East', 'P01', 'Laptop', 'Electronics', 999.99, 0.0)
(None, 'C003', 3, '2023-04-20', 'West', 'P03', 'Monitor', 'Electronics', 299.5, 898.5)
(None, 'C001', 10, '2023-05-12', 'North', 'P02', 'Mouse', 'Accessories', 19.99, 199.89999999999998)
('T006', 'C004', 2, '2023-06-01', 'South', 'P03', 'Monitor', 'Electronics', 299.5, 599.0)
('T007', 'C002', 1, '2023-07-10', 'North', 'P01', 'Laptop', 'Electronics', 999.99, 999.99)
('T008', 'C005', 7, '2023-08-15', 'East', 'P02', 'Mouse', 'Accessories', 19.99, 139.92999999999998)
('T009', 'C004', 0, '2023-09-18', 'West', 'P01', 'Laptop', 'Electronics', 999.99, 0.0)
('T010', 'C003', 5, '2023-10-02', 'North', 'P03', 'Monitor', 'Electronics', 299.5, 1497.5)
('T011', 'C005', 8, '2023-11-10', 'East', 'P02', 'Mouse', 'Accessories', 19.99, 159.92)
('T012', 'C004', 6, '2023-12-01', 'South', 'P01', 'Laptop', 'Electronics', 999.99, 5999.9400000000005)
('T013', 'Unknown', 4, '2023-01-28', 'East', 'P03', 'Monitor', 'Electronics', 299.5, 1198.0)
('T014', 'C003', 2, '2023-02-25', 'North', 'P02', 'Mouse', 'Accessories', 19.99, 39.98)
('T015', 'C001', 5, '2023-03-05', 'West', 'P03', 'Monitor', 'Electronics', 299.5, 1497.5)
('T016', 'C002', 6, '2023-04-12', 'East', 'P02', 'Mouse', 'Accessories', 19.99, 119.94)
('T017', 'C004', 3, '2023-05-15', 'South', 'P01', 'Laptop', 'Electronics', 999.99, 2999.9700000000003)
('T018', 'C005', 7, '2023-06-21', 'West', 'P02', 'Mouse', 'Accessories', 19.99, 139.92999999999998)
('T019', 'C003', 4, '2023-07-18', 'North', 'P01', 'Laptop', 'Electronics', 999.99, 3999.96)
('T020', 'C002', 5, '2023-08-20', 'South', 'P03', 'Monitor', 'Electronics', 299.5, 1497.5)
('T021', 'C001', 6, '2023-09-30', 'East', 'P02', 'Mouse', 'Accessories', 19.99, 119.94)
('T022', 'C004', 8, '2023-10-05', 'North', 'P03', 'Monitor', 'Electronics', 299.5, 2396.0)
('T023', 'Unknown', 1, '2023-11-22', 'West', 'P01', 'Laptop', 'Electronics', 999.99, 999.99)
('T024', 'C002', 3, '2023-12-10', 'East', 'P02', 'Mouse', 'Accessories', 19.99, 59.97)
('T025', 'C005', 4, '2023-01-18', 'South', 'P03', 'Monitor', 'Electronics', 299.5, 1198.0)
('T026', 'C003', 0, '2023-02-05', 'West', 'P01', 'Laptop', 'Electronics', 999.99, 0.0)
('T027', 'C004', 7, '2023-03-07', 'North', 'P02', 'Mouse', 'Accessories', 19.99, 139.92999999999998)
('T028', 'C001', 5, '2023-04-19', 'East', 'P03', 'Monitor', 'Electronics', 299.5, 1497.5)
('T029', 'C005', 2, '2023-05-22', 'South', 'P01', 'Laptop', 'Electronics', 999.99, 1999.98)
('T030', 'C003', 4, '2023-06-10', 'West', 'P02', 'Mouse', 'Accessories', 19.99, 79.96)
('T031', 'C004', 3, '2023-07-30', 'East', 'P01', 'Laptop', 'Electronics', 999.99, 2999.9700000000003)
('T032', 'C002', 2, '2023-08-10', 'North', 'P03', 'Monitor', 'Electronics', 299.5, 599.0)
('T033', 'C001', 5, '2023-09-05', 'South', 'P02', 'Mouse', 'Accessories', 19.99, 99.94999999999999)
('T034', 'C004', 1, '2023-10-08', 'West', 'P01', 'Laptop', 'Electronics', 999.99, 999.99)
('T035', 'C005', 6, '2023-11-11', 'North', 'P03', 'Monitor', 'Electronics', 299.5, 1797.0)
(None, 'C001', 2, '2023-01-15', 'North', 'P01', 'Laptop', 'Electronics', 999.99, 1999.98)
(None, 'C002', 5, '2023-02-10', 'South', 'P02', 'Mouse', 'Accessories', 19.99, 99.94999999999999)
(None, 'Unknown', 0, '2023-03-05', 'East', 'P01', 'Laptop', 'Electronics', 999.99, 0.0)
(None, 'C003', 3, '2023-04-20', 'West', 'P03', 'Monitor', 'Electronics', 299.5, 898.5)
(None, 'C001', 10, '2023-05-12', 'North', 'P02', 'Mouse', 'Accessories', 19.99, 199.89999999999998)
(None, 'C004', 2, '2023-06-01', 'South', 'P03', 'Monitor', 'Electronics', 299.5, 599.0)
(None, 'C002', 1, '2023-07-10', 'North', 'P01', 'Laptop', 'Electronics', 999.99, 999.99)
(None, 'C005', 7, '2023-08-15', 'East', 'P02', 'Mouse', 'Accessories', 19.99, 139.92999999999998)
(None, 'C004', 0, '2023-09-18', 'West', 'P01', 'Laptop', 'Electronics', 999.99, 0.0)
(None, 'C003', 5, '2023-10-02', 'North', 'P03', 'Monitor', 'Electronics', 299.5, 1497.5)
(None, 'C005', 8, '2023-11-10', 'East', 'P02', 'Mouse', 'Accessories', 19.99, 159.92)
(None, 'C004', 6, '2023-12-01', 'South', 'P01', 'Laptop', 'Electronics', 999.99, 5999.9400000000005)
(None, 'Unknown', 4, '2023-01-28', 'East', 'P03', 'Monitor', 'Electronics', 299.5, 1198.0)
(None, 'C003', 2, '2023-02-25', 'North', 'P02', 'Mouse', 'Accessories', 19.99, 39.98)
(None, 'C001', 5, '2023-03-05', 'West', 'P03', 'Monitor', 'Electronics', 299.5, 1497.5)
(None, 'C002', 6, '2023-04-12', 'East', 'P02', 'Mouse', 'Accessories', 19.99, 119.94)
(None, 'C004', 3, '2023-05-15', 'South', 'P01', 'Laptop', 'Electronics', 999.99, 2999.9700000000003)
(None, 'C005', 7, '2023-06-21', 'West', 'P02', 'Mouse', 'Accessories', 19.99, 139.92999999999998)
(None, 'C003', 4, '2023-07-18', 'North', 'P01', 'Laptop', 'Electronics', 999.99, 3999.96)
(None, 'C002', 5, '2023-08-20', 'South', 'P03', 'Monitor', 'Electronics', 299.5, 1497.5)
(None, 'C001', 6, '2023-09-30', 'East', 'P02', 'Mouse', 'Accessories', 19.99, 119.94)
(None, 'C004', 8, '2023-10-05', 'North', 'P03', 'Monitor', 'Electronics', 299.5, 2396.0)
(None, 'Unknown', 1, '2023-11-22', 'West', 'P01', 'Laptop', 'Electronics', 999.99, 999.99)
(None, 'C002', 3, '2023-12-10', 'East', 'P02', 'Mouse', 'Accessories', 19.99, 59.97)
(None, 'C005', 4, '2023-01-18', 'South', 'P03', 'Monitor', 'Electronics', 299.5, 1198.0)
(None, 'C003', 0, '2023-02-05', 'West', 'P01', 'Laptop', 'Electronics', 999.99, 0.0)
(None, 'C004', 7, '2023-03-07', 'North', 'P02', 'Mouse', 'Accessories', 19.99, 139.92999999999998)
(None, 'C001', 5, '2023-04-19', 'East', 'P03', 'Monitor', 'Electronics', 299.5, 1497.5)
(None, 'C005', 2, '2023-05-22', 'South', 'P01', 'Laptop', 'Electronics', 999.99, 1999.98)
(None, 'C003', 4, '2023-06-10', 'West', 'P02', 'Mouse', 'Accessories', 19.99, 79.96)
(None, 'C004', 3, '2023-07-30', 'East', 'P01', 'Laptop', 'Electronics', 999.99, 2999.9700000000003)
(None, 'C002', 2, '2023-08-10', 'North', 'P03', 'Monitor', 'Electronics', 299.5, 599.0)
(None, 'C001', 5, '2023-09-05', 'South', 'P02', 'Mouse', 'Accessories', 19.99, 99.94999999999999)
(None, 'C004', 1, '2023-10-08', 'West', 'P01', 'Laptop', 'Electronics', 999.99, 999.99)
(None, 'C005', 6, '2023-11-11', 'North', 'P03', 'Monitor', 'Electronics', 299.5, 1797.0)
(None, 'C004', 0, '2023-09-18', 'West', 'P01', 'Laptop', 'Electronics', 999.99, 0.0)
(None, 'C003', 5, '2023-10-02', 'North', 'P03', 'Monitor', 'Electronics', 299.5, 1497.5)
(None, 'C005', 8, '2023-11-10', 'East', 'P02', 'Mouse', 'Accessories', 19.99, 159.92)
(None, 'C004', 6, '2023-12-01', 'South', 'P01', 'Laptop', 'Electronics', 999.99, 5999.9400000000005)
(None, 'Unknown', 4, '2023-01-28', 'East', 'P03', 'Monitor', 'Electronics', 299.5, 1198.0)
(None, 'C003', 2, '2023-02-25', 'North', 'P02', 'Mouse', 'Accessories', 19.99, 39.98)
(None, 'C001', 5, '2023-03-05', 'West', 'P03', 'Monitor', 'Electronics', 299.5, 1497.5)
(None, 'C002', 6, '2023-04-12', 'East', 'P02', 'Mouse', 'Accessories', 19.99, 119.94)
(None, 'C004', 3, '2023-05-15', 'South', 'P01', 'Laptop', 'Electronics', 999.99, 2999.9700000000003)
(None, 'C005', 7, '2023-06-21', 'West', 'P02', 'Mouse', 'Accessories', 19.99, 139.92999999999998)
(None, 'C003', 4, '2023-07-18', 'North', 'P01', 'Laptop', 'Electronics', 999.99, 3999.96)
(None, 'C002', 5, '2023-08-20', 'South', 'P03', 'Monitor', 'Electronics', 299.5, 1497.5)
(None, 'C001', 6, '2023-09-30', 'East', 'P02', 'Mouse', 'Accessories', 19.99, 119.94)
(None, 'C004', 8, '2023-10-05', 'North', 'P03', 'Monitor', 'Electronics', 299.5, 2396.0)
(None, 'Unknown', 1, '2023-11-22', 'West', 'P01', 'Laptop', 'Electronics', 999.99, 999.99)
(None, 'C002', 3, '2023-12-10', 'East', 'P02', 'Mouse', 'Accessories', 19.99, 59.97)
(None, 'C005', 4, '2023-01-18', 'South', 'P03', 'Monitor', 'Electronics', 299.5, 1198.0)
(None, 'C003', 0, '2023-02-05', 'West', 'P01', 'Laptop', 'Electronics', 999.99, 0.0)
(None, 'C004', 7, '2023-03-07', 'North', 'P02', 'Mouse', 'Accessories', 19.99, 139.92999999999998)
(None, 'C001', 5, '2023-04-19', 'East', 'P03', 'Monitor', 'Electronics', 299.5, 1497.5)
(None, 'C005', 2, '2023-05-22', 'South', 'P01', 'Laptop', 'Electronics', 999.99, 1999.98)
(None, 'C003', 4, '2023-06-10', 'West', 'P02', 'Mouse', 'Accessories', 19.99, 79.96)
(None, 'C004', 3, '2023-07-30', 'East', 'P01', 'Laptop', 'Electronics', 999.99, 2999.9700000000003)
(None, 'C002', 2, '2023-08-10', 'North', 'P03', 'Monitor', 'Electronics', 299.5, 599.0)
(None, 'C001', 5, '2023-09-05', 'South', 'P02', 'Mouse', 'Accessories', 19.99, 99.94999999999999)
(None, 'C004', 1, '2023-10-08', 'West', 'P01', 'Laptop', 'Electronics', 999.99, 999.99)
(None, 'C005', 6, '2023-11-11', 'North', 'P03', 'Monitor', 'Electronics', 299.5, 1797.0)
('T036', 'C006', 2, '2023-11-11', 'West', 'P03', 'Laptop', 'Electronics', 800.0, 1600.0)

In [250]:
#cursor = db.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS customers (
    customer_id TEXT PRIMARY KEY,
    region TEXT
);
''')

In [251]:
#cursor = db.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS products (
    product_id TEXT PRIMARY KEY,
    product_name TEXT,
    product_category TEXT,
    product_price REAL
);
''')

In [252]:
#cursor = db.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS transactions (
    transaction_id TEXT PRIMARY KEY,
    customer_id TEXT,
    product_id TEXT,
    quantity INTEGER,
    date TEXT,
    total_value REAL,
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
);
''')

In [253]:
cursor.execute(''' CREATE INDEX idx_transactions_date ON transactions(date)''')

In [254]:
cursor.execute('''CREATE INDEX idx_customers_region ON customers(region);''')

In [255]:
# Customers table
customers_df = df[['customer_id', 'region']].drop_duplicates()

# Products table
products_df = df[['product_id', 'product_name', 'product_category', 'product_price']].drop_duplicates()

# Transactions table (references customers & products)
transactions_df = df[['transaction_id', 'customer_id', 'product_id', 'quantity', 'date', 'total_value']]

In [260]:
#import sqlite3

#db = sqlite3.connect('SalesData.db')
customers_df.to_sql('customers', db, if_exists='replace', index=False)
products_df.to_sql('products', db, if_exists='replace', index=False)
transactions_df.to_sql('transactions', db, if_exists='replace', index=False)

OperationalError: database is locked

In [257]:
db.commit()

In [143]:
# Total sales value by region
cursor.execute("SELECT c.region, SUM(t.total_value) AS total_sales FROM customers c cross join transactions t ON c.customer_id = t.customer_id GROUP BY region")
rows = cursor.fetchall()
for row in rows:
    print(row)
db.commit()

('East', 89343.12000000001)
('North', 108890.82)
('South', 89343.12000000001)
('West', 99761.76000000001)

In [146]:
# Top 5 products by total sales
cursor.execute("SELECT p.product_name, SUM(t.total_value) AS total_sales FROM products p left join transactions t on p.product_id=t.product_id GROUP BY product_name ORDER BY total_sales DESC LIMIT 5")
rows = cursor.fetchall()
for row in rows:
    print(row)
db.commit()

('Laptop', 64999.350000000006)
('Monitor', 39833.5)
('Mouse', 4057.97)

In [151]:
# Monthly sales trend
cursor.execute("""SELECT strftime('%Y-%m', t.date) AS month, SUM(t.total_value) AS total_sales FROM transactions t GROUP BY month""")
rows = cursor.fetchall()
for row in rows:
    print(row)
db.commit()

('2023-01', 9593.94)
('2023-02', 419.78999999999996)
('2023-03', 4912.29)
('2023-04', 7547.82)
('2023-05', 15599.550000000001)
('2023-06', 1857.6699999999998)
('2023-07', 22999.77)
('2023-08', 6569.36)
('2023-09', 659.67)
('2023-10', 14680.47)
('2023-11', 5870.76)
('2023-12', 18179.730000000003)

In [152]:
import logging
logging.basicConfig(filename='data_quality.log', level=logging.INFO)

In [153]:
if df['transaction_id'].duplicated().any():
    logging.info("Duplicate transactionÂ IDsÂ found"
)

In [156]:
df.to_sql('sales_optimize', db, index=False, if_exists='replace', chunksize=100)

87

In [158]:
cursor.execute('''CREATE INDEX idx_region ON sales_optimize(region)''')

In [161]:
cursor.execute("""
    EXPLAIN QUERY PLAN 
    SELECT * FROM sales_optimize 
    WHERE region = 'North'
""")
rows = cursor.fetchall()
for row in rows:
    print(row)

(3, 0, 61, 'SEARCH sales_optimize USING INDEX idx_region (region=?)')